html {
  scroll-behavior: smooth;
}

nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 50px;
}

nav li {
	display: inline;
  margin-right: 10px;
}

nav a {
	text-decoration: none;
	font-family: Cambria, serif;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: #596365;
}


#logo {
  position: center;
  margin: auto;
  margin-top: 10px;
  margin-left: 37.5%;
  margin-right: auto;
  height: 300px;


}

.center {
  text-align: center;
  margin: auto;

  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.topbar {
  margin-left: 60%;
}



.space {
  margin-top: 100px;
}


#home{
margin-top: 100px;

}

#about {
  height: 100%;
  border-width: thin;

}











* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 175px;

}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}

.button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
}


.info{
	width:500px;
	border-width:0px;
  margin-left: 20%;
}

label{
	padding-bottom:5px;
}


.info label {
	float:left;
	width: 100px;
}

textarea {
  height: 100px;
  width: 250px;
  text-decoration: none;
}

input {
	width: 250px;
}

select {
	width:250px;
}



/* Image Sizing & Margins */
.imgsize {
	height: 200px;
	width: 300px;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 10px;
	float: left;

}



/* Image Size & Hover */
.Img {
    border-radius: 0px;
    cursor: pointer;
    transition: 0.3s;
	  background: none;
}

.Img:hover{
    opacity: 0.7;

}
/* Modal (Makes the Image Popup/Bigger)*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
	background-color: rgb(0,0,0, 0.5);

}

/* Modal Image */
.modalcontent {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 90%;
	max-height: 95%;
}

/* Caption Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    text-align: left;
    color: white;
    padding: 10px 0;
    height: 150px;
	font-family: Garamond;
	font-style: oblique;
	font-size: 24pt;
}

/* Closing Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,.close:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}
